.SeatLegend {
    display: flex;
    flex-direction: column;
    width: 50px;
    img {
        height: 25px;
        width: 60px;
    }
}

@media (max-width: 768px) {
    .SeatLegend {
        span {
            font-size: 12px;
        }
    }
}
